body {
	color: white;
}

.center {
	text-align: center;
}
	
#jqt ul li .right {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    background: none repeat scroll 0 0 #2F3031;
    border-radius: 3px 3px 3px 3px;
    color: #949698;
    display: block;
    font-weight: bold;
    text-shadow: 0 -1px 0 #0A0A0A;
    width: auto;
    z-index: 10;
    float: right;
    overflow: hidden;
    padding: 2px 8px 4px;
    position: relative;
    text-align: right;
    white-space: nowrap;
}

div.chat-text {
	color: white;
}

div.chat-text a.chat-link {
	color: inherit !important;
	text-decoration: none;
}

#theform .error {
	background: #aa0000 !important;
}