* {
	padding: 0;
	margin: 0;
}

hr { width: 80%; }
h1, h2, h3 { text-align: center; }

body {
	background: #707883;
	color: #222;
/*	text-align: center;*/
	font: 85% "Trebuchet MS", "Arial", sans-serif;
}

h1, h2, p {
	margin: 0;
	padding: 0 10px;
	font-weight: normal;
}

p { padding: 0 10px 15px }

h1 {
	font-size: 250%;
	color: #FFF;
}

h2 {
	font-size: 200%;
	color: #002455;
}

h3 {
	font-size: 85%;
	color: #fff;
}

#main {
	background: #fff;
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	bottom: 1.5em;
	right: 1.5em;
	border-radius: 0.5em;
}

#header {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
	height: 5em;
	border-radius: 0.5em;
	background: #000;
	color: #fff;
	min-height: 45px;
}

#header div {
	height: 5em;
	line-height: 5em;
	vertical-align: middle;
}

.header img {
	/*vertical-align: middle;*/
}

#content_wrap {
	position: absolute;
	top: 6em;
	left: 0.5em;
	right: 20.5em;
	bottom: 0.5em;
}

#content {
	position: absolute;
	top: 0; left: 0; bottom: 2.4em; right: 0;
}

#content > div {
	position: absolute;
	top: 3.15em;
	left: 0.2em;
	right: 0.2em;
	bottom: 0.2em;
	overflow: auto;
	padding: 0.5em;
}

#theform {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 2em;
}

#theform .error {
	background-color: #ffaaaa;
}

#theform input[type=text] {
	height: 100%;
	width: 100%;
	padding: 0 0.2em;
}

#theform select {
	vertical-align: middle;
}

#theform #chattype {
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 6em;	
}

#theform #chattospan {
	display: block;
	position: absolute;
	left: 6.4em; top: 0; bottom: 0;
	width: 9.6em;
}

#theform.hideTo #chattospan {
	display: none;
}

#theform #chattextspan {
	position: absolute;
	left: 16.8em; top: 0; bottom: 0; right: 6.6em;
}

#theform.hideTo #chattextspan {
	left: 6.4em;
}

#theform #sendchat {
	position: absolute;
	top: 0; bottom: 0; right: 0;
	width: 6em;
}

#nav {
	position: absolute;
	right: 0.5em;
	top: 6em;
	border-top: none;
	float: right;
	width: 18.5em;
	background: #000;
	color: #fff;
	border-radius: 0.5em;
	padding: 0.5em;
}

#navpad {
	text-align: center;
}

#nav h2 {
	font-size: 120%;
	color: #9E4A24
}

.footer img {
	margin-right: 10px;
}

.info_bar {
	position: relative;
	width: 100%;
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.1em;
	border-radius: 0.25em;
}

.info_text {
	z-index: 10;
	position: relative;
	width: 100%;
	color: #FFF;
}

.info_percent {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 0.25em;
}

.rage { background-color: #BB0000; }
.rune { background-color: #0000BB; }
.energy { background-color: #BBBB00;  }
.mana { background-color: #0000BB; }

#health_percent {
	width: 84%;
	background-color: #00BB00;
}

#secondary_percent {
	width: 64%;
}

#xp_percent {
	width: 78%;
	background-color: #800080;
}

#content div {
	background-color: black;
	color: white;
}

#content div.chat-text p {
	padding: 0;
}

#content a.chat-link {
	color: inherit !important;
	text-decoration: none;
}

#screenshot {
	text-align: center;
}

#screenshot {
	margin-left: auto;
	margin-right: auto;
}

#view-mobs > div {
	position: absolute;
	top: 0; bottom: 0;
	width: 33.3%;
	overflow: auto;
}

#view-mobs #mobs-container {
	left: 0;
}

#view-mobs #reps-container {
	left: 33.3%;
	width: 33.4%;
}

#view-mobs #skills-container {
	right: 0;
}

#loot-goldPanels-container {
	position: absolute;
	left: 0; top: 0; right: 0;
	height: 2em;
}

#loot-goldPanels-container > div.goldPanel {
	position: absolute;
	top: 0; bottom: 0;
	width: 33.3%;
	height: 100%;
}

div.goldPanel {
	line-height: 2em;
}

#gold-looted-container {
	left: 0;
}

#loot-worth-container {
	left: 33.3%;
	width: 33.4%;
}

#gold-per-hour-container {
	right: 0;
}

#loot-tables-container {
	position: absolute;
	top: 2em; left: 0; bottom: 0; right: 0;
}

#loot-tables-container > div {
	position: absolute;
	top: 0; bottom: 0;
	width: 25%;
	overflow: auto;
}

#view-loot #loot-container-poor {
	left: 0;
}

#view-loot #loot-container-common {
	left: 25%;
}

#view-loot #loot-container-uncommon {
	left: 50%;
}

#view-loot #loot-container-rare {
	left: 75%;
	bottom: 50%;
}

#view-loot #loot-container-epic {
	left: 75%;
	top: 50%;
}